*{     
   text-align: center;     
}
body{
    background-color: white;
}

div.header{
    margin-top: -20px;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    background-color:dimgray;
}

div.h3{
    font-family: sans-serif;
}

div.register{
    width:50%;
    height: 250px;
    margin-top: 5px;
    margin-left: 30%;
    background-color: rgba(0, 0, 0, 0.800);
    border-radius: 10px;
    box-shadow: 2px, 2px, 15px;
    color: white;
}
input{
    margin-left: 60px;
}
input#txtmobile{
    margin-left: 80px;
}
input#txtpass{
    margin-left: 65px;  
}
input#txtconpass{
    margin-left: 7px;  
}
input#submit{
    margin-left: 400px;
    background-color: burlywood;
}
